

<template>
    <div class="">
        <!--Start Search Product -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Search Product</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="search_product">Search Product</label>
                                            <input v-model="search_product" class ="form-control" placeholder="product name, item code, bar code">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="category_id">Select Category</label>
                                            <select v-model="category_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Category</option>
                                                <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <div class="btn-group btn-challan-product-div">
                                                <a v-on:click="searchProducts()" title="product-search" class="btn btn-success btn-cons btn-challan-product-search">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Search Product-->

        <!--Start Products Listing-->
        <div class="row row-same-height">
            <!-- START PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Products</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                        <tr>
                            <th style="width:20%">Image</th>
                            <th style="width:20%">Name</th>
                            <th style="width:20%">Item Code</th>
                            <th style="width:20%">Bar Code</th>
                            <th style="width:20%">Category</th>
                            <th style="width:20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="product in products">
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">
                                {{product.name}}
                            </td>
                            <td class="v-align-middle">
                                {{product.item_code}}
                            </td>
                            <td class="v-align-middle">
                                {{product.bar_code}}
                            </td>
                            <td class="v-align-middle">
                                <ul v-for="category in product.categories">
                                    <li>{{category.name}}</li>
                                </ul>
                            </td>
                            <td class="v-align-middle">
                                <div class="btn-group btn-actions">
                                    <a v-on:click="addToChallan(product.id)" :id="product.id" title="Add-to-challan" class="btn btn-success product_add_btn">Add To List</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--End Products Listing-->

        <!--Start Challan Lists-->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                        <tr>
                            <th style="width:20%">Name</th>
                            <th style="width:60%">Combination</th>
                            <th style="width:20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product,index) in product_combination_list">
                                <td class="v-align-middle">
                                    {{product.name}}
                                </td>
                                <td class="v-align-middle" style="width: 60%">
                                    <ul v-for="(combination, combination_index ) in product.combinations">
                                        <div class="attribute-values">
                                            <template v-for="attributeValue in combination.combination_attribute_values">
                                                <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                                            </template>
                                            <strong>Quantity : </strong><input type="number" v-model="combination.quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle">
                                    <a v-on:click="removeFromChallanList(product.id)" class="btn btn-danger">Remove</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a  v-on:click="generate_product_barcode" class="btn btn-success pull-right">Generate Product Barcode</a>
        </div>
        <!--End Challan Lists-->
        <input type="button" value="Download as PDF" id="btnPrint" />
        <div id="dvContainer" class="col-md-12" >
            <div class="col-md-5" id="barcode_list">

            </div>
            <div class="col-md-5" id="qrcode">
                <h1></h1>

            </div>

        </div>



    </div>
</template>
<script>


    $(function() {
        $("#btnPrint").on("click", function () {

            var quotes = document.getElementById('qrcode');
            html2canvas(quotes, {
                onrendered: function(canvas) {

                    //! MAKE YOUR PDF
                    var pdf = new jsPDF('p', 'pt', 'a4');

                    for (var i = 0; i <= quotes.clientHeight/980; i++) {
                        //! This is all just html2canvas stuff
                        var srcImg  = canvas;
                        var sX      = 0;
                        var sY      = 980*i; // start 980 pixels down for every new page
                        var sWidth  = 900;
                        var sHeight = 980;
                        var dX      = 0;
                        var dY      = 0;
                        var dWidth  = 900;
                        var dHeight = 980;

                        window.onePageCanvas = document.createElement("canvas");
                        onePageCanvas.setAttribute('width', 900);
                        onePageCanvas.setAttribute('height', 980);
                        var ctx = onePageCanvas.getContext('2d');
                        // https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Using_images#Slicing
                        ctx.drawImage(srcImg,sX,sY,sWidth,sHeight,dX,dY,dWidth,dHeight);

                        // document.body.appendChild(canvas);
                        var canvasDataURL = onePageCanvas.toDataURL("image/png", 1.0);

                        var width         = onePageCanvas.width;
                        var height        = onePageCanvas.clientHeight;

                        //! If we're on anything other than the first page,
                        // add another page
                        if (i > 0) {
                            pdf.addPage(612, 791); //8.5" x 11" in pts (in*72)
                        }
                        //! now we declare that we're working on that page
                        pdf.setPage(i+1);
                        //! now we add content to that page!
                        pdf.addImage(canvasDataURL, 'PNG', 20, 40, (width*.62), (height*.62));

                    }
                    //! after the for loop is finished running, we save the pdf.
                    pdf.save('Barcode.pdf');
                }
            });
        });
    });



export default {
        data(){

            return{
                categories: [],
                warehouses: [],
                products: [],
                date: '',
                errors: [],
                product_combination_list: [],
                barcode_generate_infos : [],
                challan: '',
                request_date:null,
                category_id:'',
                warehouse_id:'',
                search_product:'',
                selected_products: [],
            }
        },

        props: ['location', 'store'],

        mounted() {
            let that = this;
            this.getCategories();


            $(function() {
                "use strict";
                $('#request_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.request_date = $('#request_date').val();
                });
            });

        },

        computed:{

        },

        watch:{
        },

        methods: {
            padDigits:function (number, digits) {
                return Array(Math.max(digits - String(number).length + 1, 0)).join(0) + number;
            },
            getCategories: function(){
                let that = this;
                axios.get('/api/category/get_categories')
                    .then(function (response) {
                        that.categories = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            searchProducts: function(){
                let that = this;
                axios.post('/api/product/search_products', {
                            search_product: that.search_product,
                            category_id: that.category_id
                        }

                    )
                    .then(function (response) {
                        that.products = response.data;
                        $('.product_add_btn').addClass('show_add_to_challan_button');
                        that.product_combination_list = [];
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            addToChallan: function(product_id){
                let that = this;
                $('#'+product_id).addClass('hide_add_to_challan_button');
                $('#'+product_id).removeClass('show_add_to_challan_button');

                axios.post('/api/product_combination/get_combination_data', {
                            product_id: product_id
                        }
                    )
                    .then(function (response) {
                        that.product_combination_list.push(response.data);
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });

            },
            editChallan: function(){
                let that = this;
                axios.post('/api/challan_list/get_challan_data', {
                        challan_id: '1'
                    })
                    .then(function (response) {
                        that.challan = response.data;
                        console.log("Product Lists : "+ that.challan)
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            removeFromChallanList: function(product_id){
                let that = this;
                axios.post('/api/product_combination/get_combination_data', {
                        product_id: product_id
                    }
                )
                .then(function (response) {
                    that.product_combination_list = that.product_combination_list.filter(function (val) {
                        $('#'+product_id).addClass('show_add_to_challan_button');
                        return val.id !== product_id;
                    });
                    return that.product_combination_list;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            generate_product_barcode: function(){
                let that = this;
                var combination = [];
                that.barcode_generate_infos = [];

                $.each(that.product_combination_list,function(key,product){
                    var product_id = product.id;
                    combination = [];
                    $.each(product.combinations,function(index,product_combination){


                        var combination_value = $('#product_combination_'+product_combination.id).val();

                        if( combination_value ){
                            combination.push(
                                {
                                    id:product_combination.id,
                                    quantity:combination_value
                                }
                            );
                        }
                        //console.log(JSON.stringify(product_combination));
                        for (var i = 0; i < combination_value; i++) {
                            var bcode = product_combination.barcode.toString();
                            $("#barcode_list").append('<svg id="s'+bcode+'" class="barcode"></svg>');
                            //first 6 digit product id, then 2 digit for combination id
                            JsBarcode("#s"+bcode, bcode, {
                                //format: "ean13",
                                flat: true,
                                text: bcode+'-'+product.name+"-"+product_combination.name,
                                textAlign: "left",
//                                textPosition: "top",
                                font: "cursive",
                                fontOptions: "bold",
                                fontSize: 15,
                                textMargin: 15,
                                displayValue: true,

                            });


                            var QRCode = require('qrcode');
                            var attributeArray=[];
                            $.each(product_combination.combination_attribute_values,function(index,product_combination_att){
                                var attributeQR ={
                                    product_combination_id:product_combination_att.product_combination_id,
                                    attribute_id:product_combination_att.attribute_value.attribute_id,
                                    attribute_value:product_combination_att.attribute_value.value,
                                    attribute_name: product_combination_att.attribute_value.attribute.name
                                };
                                attributeArray.push(attributeQR);

                            });
                            var productQR = {item_code:product.item_code, name:product.name,product_combination_name:product_combination.name,product_combination_id:product_combination.id};
                            QRCode.toCanvas(JSON.stringify(productQR), { errorCorrectionLevel: 'H' }, function (err, canvas) {
                                if (err) throw err

                                var container = document.getElementById('qrcode');
                                container.appendChild(canvas);

                            })

                        };
                    });
                    that.barcode_generate_infos.push({product_id:product_id,combination:combination});
                });

            }
        }

    }
</script>

