<template>
    <div class="">
        <!--Start Search Product -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Search Product</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="search_product">Search Product</label>
                                            <input v-model="search_product" class ="form-control" placeholder="product name, item code, bar code">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="category_id">Select Category</label>
                                            <select v-model="category_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Category</option>
                                                <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <div class="btn-group btn-challan-product-div">
                                                <a v-on:click="searchProducts()" title="product-search" class="btn btn-success btn-cons btn-challan-product-search">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Search Product-->

        <!--Start Products Listing-->
        <div class="row row-same-height">
            <!-- START PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Products</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithNoSearch">
                        <thead>
                        <tr>
                            <th style="width:20%">Image</th>
                            <th style="width:20%">Name</th>
                            <th style="width:20%">Item Code</th>
                            <th style="width:20%">Bar Code</th>
                            <th style="width:20%">Category</th>
                            <th style="width:20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="product in products">
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">
                                {{product.name}}
                            </td>
                            <td class="v-align-middle">
                                {{product.item_code}}
                            </td>
                            <td class="v-align-middle">
                                {{product.bar_code}}
                            </td>
                            <td class="v-align-middle">
                                <ul v-for="category in product.categories">
                                    <li>{{category.name}}</li>
                                </ul>
                            </td>
                            <td class="v-align-middle">
                                <div class="btn-group btn-actions">
                                    <a v-on:click="addToChallan(product.id)" :id="product.id" title="Add-to-challan" class="btn btn-success product_add_btn">Add To Challan</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--End Products Listing-->

        <!--Start Challan Info -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Challan Info</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="request_date">Request Date</label>
                                            <input v-model.lazy="request_date" id="request_date" class ="form-control" placeholder="Select Date">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="to_ware_house">To ware house</label>
                                            <select v-model="warehouse_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Warehouse</option>
                                                <option v-for="warehouse in warehouses" v-bind:value="warehouse.id">{{ warehouse.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="supplier_id">Select Supplier</label>
                                            <select v-model="supplier_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Supplier</option>
                                                <option v-for="supplier in suppliers" v-bind:value="supplier.id">{{ supplier.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Challan Info -->
        <!--Start Challan Lists-->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Combination Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tablecombination">
                        <thead>
                        <tr>
                            <th style="width:20%">Name</th>
                            <th style="width:60%">Combination</th>
                            <th style="width:20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product,index) in product_combination_list">
                                <td class="v-align-middle">
                                    {{product.name}}
                                </td>
                                <td class="v-align-middle" style="width: 60%">
                                    <ul v-for="(combination, combination_index ) in product.combinations">
                                        <div class="attribute-values">
                                            <template v-for="attributeValue in combination.combination_attribute_values">
                                                <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                                            </template>
                                            <strong>Quantity : </strong><input type="number" v-model="combination.quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle">
                                    <a v-on:click="removeFromChallanList(product.id)" class="btn btn-danger">Remove</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a  v-on:click="save_warehouse_store_in_challan" class="btn btn-success pull-right">Save Challan</a>
        </div>
        <!--End Challan Lists-->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');

    export default {
        data(){
            return{
                categories: [],
                suppliers: [],
                warehouses: [],
                products: [],
                cash_sales: 0,
                credit_card_sales: 0,
                is_closed: 0,
                date: '',
                errors: [],
                product_combination_list: [],
                product_challan_infos : [],
                challan: '',
                request_date:null,
                supplier_id:'',
                category_id:'',
                warehouse_id:'',
                search_product:'',
                selected_products: []
            }
        },

        props: ['location', 'store', 'user'],

        mounted() {
            let that = this;
            this.getCategories();
            this.getSuppliers();
            this.getWarehouses();
            this.editChallan();

            $(function() {
                "use strict";
                $('#request_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.request_date = $('#request_date').val();
                });
            });

        },

        computed:{
            total_sales: function () {
                return this.cash_sales + this.credit_card_sales;
            },
        },

        watch:{
//            date: function(val){
//                alert(val);
//                this.date_change(val);
//            }
        },

        methods: {
            date_change: function(val){
//                alert(val);
            },
            getCategories: function(){
                let that = this;
                axios.get('/api/category/get_categories')
                    .then(function (response) {
                        that.categories = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getSuppliers: function(){
                let that = this;
                axios.get('/api/supplier/get_suppliers')
                    .then(function (response) {
                        that.suppliers = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getWarehouses: function(){
                let that = this;
                axios.get('/api/warehouse/get_warehouses')
                    .then(function (response) {
                        that.warehouses = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            searchProducts: function(){
                let that = this;
                axios.post('/api/product/search_products', {
                            search_product: that.search_product,
                            category_id: that.category_id
                        }

                    )
                    .then(function (response) {
                        that.products = response.data;
                        $('.product_add_btn').addClass('show_add_to_challan_button');
                        //that.product_combination_list = [];
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            addToChallan: function(product_id){
                let that = this;
                $('#'+product_id).addClass('hide_add_to_challan_button');
                $('#'+product_id).removeClass('show_add_to_challan_button');

                axios.post('/api/product_combination/get_combination_data', {
                            product_id: product_id
                        }
                    )
                    .then(function (response) {
                        that.product_combination_list.push(response.data);
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });

            },
            editChallan: function(){
                let that = this;
                axios.post('/api/challan_list/get_challan_data', {
                        challan_id: '1'
                    })
                    .then(function (response) {
                        that.challan = response.data;
                        console.log("Challan Lists : "+ that.challan)
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            removeFromChallanList: function(product_id){
                let that = this;
                axios.post('/api/product_combination/get_combination_data', {
                        product_id: product_id
                    }
                )
                .then(function (response) {
                    that.product_combination_list = that.product_combination_list.filter(function (val) {
                        $('#'+product_id).addClass('show_add_to_challan_button');
                        return val.id !== product_id;
                    });
                    return that.product_combination_list;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            save_warehouse_store_in_challan: function(){
                let that = this;
                var combination = [];
                that.product_challan_infos = [];

                if( $.isEmptyObject( that.request_date ) ){
                    alert("Challan Request Date can't be empty");
                    return false;
                }
                else if( that.warehouse_id === '' ){
                    alert("Warehouse can't be empty");
                    return false;
                }
                else if( that.supplier_id === '' ){
                    alert("Supplier can't be empty");
                    return false;
                }

                $.each(that.product_combination_list,function(key,product){
                    var product_id = product.id;
                    combination = [];
                    $.each(product.combinations,function(index,product_combination){
                        var combination_value = $('#product_combination_'+product_combination.id).val();

                        if( combination_value ){
                            combination.push(
                                {
                                    id:product_combination.id,
                                    quantity:combination_value
                                }
                            );
                        }
                    });
                    that.product_challan_infos.push({request_date:that.request_date,
                        warehouse_id:that.warehouse_id,
                        supplier_id:that.supplier_id,
                        product_id:product_id,
                        combination:combination
                    });
                });
                var form = new FormData();
                if ($.isEmptyObject( combination )) {
                    alert('Must have one combination value');
                    return false;
                }
                form.append('product_challan_infos',JSON.stringify(that.product_challan_infos));

                axios.post('/api/warehouse_store_in_challan/save_warehouse_store_in_challan?user='+JSON.stringify(this.user), form)
                    .then(function (response) {
                        alert( response.data.success );
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            }
        }

    }
</script>

