<template>
    <div class="">
        Start Search Product
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Search Product</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="search_product">Search Product</label>
                                            <input v-model="search_product" class ="form-control" placeholder="product name, item code, bar code">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="category_id">Select Category</label>
                                            <select v-model="category_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Category</option>
                                                <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <div class="btn-group btn-challan-product-div">
                                                <a v-on:click="searchProducts( product_combination_list )" title="product-search" class="btn btn-success btn-cons btn-challan-product-search">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        End Search Product

        <!--Start Products Listing-->
        <div class="row row-same-height">
            <!-- START PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Products</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithNoSearch">
                        <thead>
                        <tr>
                            <th style="width:20%">Image</th>
                            <th style="width:20%">Name</th>
                            <th style="width:20%">Item Code</th>
                            <th style="width:20%">Bar Code</th>
                            <th style="width:20%">Category</th>
                            <th style="width:20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="product in products">
                            <td class="v-align-middle">

                            </td>
                            <td class="v-align-middle">
                                {{product.name}}
                            </td>
                            <td class="v-align-middle">
                                {{product.item_code}}
                            </td>
                            <td class="v-align-middle">
                                {{product.bar_code}}
                            </td>
                            <td class="v-align-middle">
                                <ul v-for="category in product.categories">
                                    <li>{{category.name}}</li>
                                </ul>
                            </td>
                            <td class="v-align-middle">
                                <div class="btn-group btn-actions" >
                                    <a v-if="product.isDisable" v-on:click="addToChallan(product.id)" :id="product.id" title="Add-to-challan" class="btn btn-success product_add_btn hide_add_to_challan_button">Add To Challan</a>
                                    <a v-else="product.isDisable" v-on:click="addToChallan(product.id)" :id="product.id" title="Add-to-challan" class="btn btn-success product_add_btn">Add To Challan</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Products Listing-->

        <!--Start Challan Info -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 v-if="challan" class="panel-title">Challan Info( # {{challan.challan_no}} )</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="request_date">Request Date</label>
                                            <input v-if="challan" v-model="challan.request_date" id="request_date" class ="form-control" placeholder="Select Date">
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="to_outlet_id">To out let</label>
                                            <select v-if="challan" v-model="challan.outlet_id"  id="to_outlet_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Outlet</option>
                                                <option v-for="outlet in outlets" v-bind:value="outlet.id">{{ outlet.name }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required">
                                            <label for="to_ware_house">From ware house</label>
                                            <select v-if="challan" v-model="challan.warehouse_id" id="to_ware_house" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Warehouse</option>
                                                <option v-for="warehouse in warehouses" v-bind:value="warehouse.id"  >{{ warehouse.name }}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Challan Info -->
        <!--Start Challan Lists-->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Combination Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tablecombination">
                        <thead>
                        <tr>
                            <th style="width:20%">Name</th>
                            <th style="width:60%">Combination</th>
                            <th style="width:20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(product,index) in product_combination_list">
                            <td class="v-align-middle">
                                {{product.name}}
                            </td>
                            <td class="v-align-middle" style="width: 60%">
                                <ul style="display: inline-block;" v-for="(combination, combination_index ) in product.combinations">
                                    <div class="attribute-values">
                                        <template v-for="attributeValue in combination.combination_attribute_values">
                                            <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                                        </template>
                                    </div>
                                    <div class="combination-quantity">
                                        <input type="number" v-model="combination.quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle">
                                <a v-on:click="removeFromChallanList(product.id)" class="btn btn-danger">Remove</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a  v-on:click="update_warehouse_store_out_challan(challan_id)" class="btn btn-success pull-right">Save Challan</a>
        </div>
        <!--End Challan Lists-->
    </div>
</template>

<script>
    axios.defaults.headers.common['X-CSRF-TOKEN'] = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    //require('../../js/plugins/bootstrap-datepicker.js');
    export default {

        data(){
            return{
                categories: [],
                outlets: [],
                warehouses: [],
                products: [],
                cash_sales: 0,
                credit_card_sales: 0,
                is_closed: 0,
                date: '',
                errors: [],
                product_combination_list: [],
                product_challan_infos : [],
                challan: null,
                request_date:null,
                outlet_id:'',
                category_id:'',
                warehouse_id:null,
                search_product:'',
                selected_products: [],

            }
        },
        props: ['challan_id'],
        mounted() {
            let that = this;
            this.getCategories();
            this.getOutlets();
            this.getWarehouses();
            this.getChallan();

            $(function() {
                "use strict";
                $('#request_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    if(that.challan.request_date){
                        that.challan.request_date = $('#request_date').val();
                    }

                });
            });

        },

        computed:{
            total_sales: function () {
                return this.cash_sales + this.credit_card_sales;
            },
        },

        watch:{
//            date: function(val){
//                alert(val);
//                this.date_change(val);
//            }
        },

        methods: {
            date_change: function(val){
//                alert(val);
            },
            fetchMessages: function(params) {
                alert( 'heda')
                console.log('Params : '+params);
            },
            getCategories: function(){
                let that = this;
                axios.get('/api/category/get_categories')
                        .then(function (response) {
                            that.categories = response.data;
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
            },
            getOutlets: function(){
                let that = this;
                axios.get('/api/outlets/get_outlet')
                        .then(function (response) {
                            that.outlets = response.data;
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
            },
            getWarehouses: function(){
                let that = this;
                axios.get('/api/warehouse/get_warehouses')
                        .then(function (response) {
                            that.warehouses = response.data;
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
            },
            searchProducts: function( product_combination_list ){
                let that = this;
                that.product_combination_list = [];
                axios.post('/api/product/search_products', {
                            search_product: that.search_product,
                            category_id: that.category_id
                        }

                        )
                        .then(function (response) {
                            that.products = response.data;
                            $('.product_add_btn').addClass('show_add_to_challan_button');
                            if (!$.isEmptyObject( that.products )) {
                                $.each(that.products,function( index_product, product ){
                                    $.each(product_combination_list,function(index_product_combination_list,combination){
                                        if( combination.id == product.id ){
                                            that.products[index_product].isDisable = 1;
                                        }s
                                    })
                                })
                            }
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
                that.getChallan();
            },
            addToChallan: function(product_id){
                let that = this;
                $('#'+product_id).addClass('hide_add_to_challan_button');
                $('#'+product_id).removeClass('show_add_to_challan_button');

                axios.post('/api/product_combination/get_combination_data', {
                            product_id: product_id
                        }
                        )
                        .then(function (response) {
                            that.product_combination_list.push(response.data);
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });

            },
            getChallan: function(){

                let that = this;
                axios.post('/api/challan_list/get_challan_out_data', {
                            challan_id: that.challan_id
                        })
                        .then(function (response) {
                            that.challan = response.data;
                            console.log("response:"+response.data);
                            if (!$.isEmptyObject( that.challan )) {
                                console.log("in"+ that.challan );

                                $.each(that.challan.challanout_products,function(index,product){

                                    axios.post('/api/product_combination/get_combination_data', {
                                                product_id: product.product_id
                                            })
                                            .then(function (response) {
                                                console.log("response:"+response.data);

                                                that.product_combination_list.push(response.data);
                                                $.each(that.product_combination_list,function(index_product_combination_list,combination){
                                                    $.each(combination.combinations,function(index_combinations,combination_data){
                                                        $.each(that.challan.challanout_products,function(index_challan_products, challan_product ){

                                                            $.each(challan_product.store_out_combinations,function(index_store_out_combinations, store_out_combination ){
                                                                if( store_out_combination.product_combination_id == combination_data.id ){
                                                                    that.product_combination_list[index_product_combination_list].combinations[index_combinations].quantity = store_out_combination.quantity;
                                                                }
                                                            })
                                                        })
                                                    })
                                                })
                                            })
                                            .catch(function (error) {
                                                that.errors = error;
                                            });
                                })
                            }
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
            },
            removeFromChallanList: function(product_id){
                let that = this;
                axios.post('/api/product_combination/get_combination_data', {
                            product_id: product_id
                        }
                        )
                        .then(function (response) {
                            that.product_combination_list = that.product_combination_list.filter(function (val) {
                                $('#'+product_id).addClass('show_add_to_challan_button');
                                return val.id !== product_id;
                            });
                            return that.product_combination_list;
                        })
                        .catch(function (error) {
                            that.errors = error;
                        });
            },
            update_warehouse_store_out_challan: function( challan_id ){
                let that = this
                var combination = [];
                that.product_challan_infos = [];
                if( $.isEmptyObject( that.challan.request_date ) ){
                    alert("Challan Request Date can't be empty");
                    return false;
                }
                else if( that.warehouse_id === '' ){
                    alert("Warehouse can't be empty");
                    return false;
                }
                else if( that.challan.challanout_products[0].supplier_id === '' ){
                    alert("Supplier can't be empty");
                    return false;
                }
                $.each(that.product_combination_list,function( key, product ){
                    var product_id = product.id;
                    combination = [];
                    $.each(product.combinations,function(index,product_combination){
                        var combination_value = $('#product_combination_'+product_combination.id).val();

                        if( combination_value ){
                            combination.push(
                                    {
                                        id:product_combination.id,
                                        quantity:combination_value
                                    }
                            );
                        }
                    })
                    that.product_challan_infos.push({request_date:that.challan.request_date, warehouse_id:that.challan.warehouse_id,outlet_id:that.challan.challanout_products[0].outlet_id,product_id:product_id,combination:combination});
                });
                var form = new FormData();
                if ($.isEmptyObject( combination )) {
                    alert('Must have one combination value');
                    return false;
                }

                form.append('product_challan_infos',JSON.stringify(that.product_challan_infos));
                form.append('challan_id', challan_id );

                axios.post('/api/warehouse_store_out_challan/update_warehouse_store_out_challan', form )
                        .then(function (response) {
                            if( response.data.success ){
                                alert( response.data.success )
                            }else{
                                alert( response.data.success )
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

            }
        }

    }
</script>